.reviews-list {
  .body-container{
    margin-left: 22px;
    .content{
      .rotated{
        transform: rotate(180deg);
      }
      width: 722px;
      overflow: auto;
      float: left;
      min-height: 500px;
      .search-select-block{
        .select-block{
          float: left;
          margin-right: 9px;
        }
        .date-input{
          float: left;
        }
        .date-from{
          margin-right: 5px;
        }
        height: 58px;
        .vdp-datepicker{
          float: left;
          margin-top: 1px;
          input{
            margin-top: 0px;
            width: 118px;
          }
        }
        .right-vdp{
          margin-left: 7px;
        }
      }
      .sort-by-block {
        margin-top:20px;
        span {
          font-family: Quicksand;
          font-size: 13px;
          color: #052e46;
          font-weight: 500;
          margin-right:10px;
        }
        .button-passive {
          height: 32px;
          padding: 0px 10px;
          border: 1px solid #cfdde8;
          border-radius: 15px;
          background-color: #f5faff;
          font-family: Quicksand;
          font-size: 13px;
          cursor: pointer;
          color:#052e46;
          text-decoration: none solid rgb(255, 255, 255);
          margin-right:15px;
          outline: none;
        }
        .button-active {
          color: #ffffff;
          border: 1px solid #2980b9;
          border-radius: 15px;
          background-color: #2980b9;
          outline: none;
        }
      }
      .clear-filter-row{
        margin-top: 20px;
        .clear-filters-button{
          width: 113px;
          height: 15px;
          padding: 7px 15px;
          border: 1px solid #2980b9;
          border-radius: 2px;
          background-color: #2980b9;
          background-size: cover;
          font-size: 13px;
          color: #ffffff;
          font-weight: 500;
          text-decoration: none solid white;
          text-align: center;
          margin-right: 10px;
          outline: none;
          cursor: pointer;
        }
      }
      .responses{
        margin-top: 34px;
        .response{
          position: relative;
          padding-top: 24px;
          padding-bottom: 28px;
          width: 722px;
          border-top: 1px solid #b5c9d5;
          overflow: auto;
          .user-left-block{
            float: left;
            .avatar-block{
              width: 86px;
              height: 86px;
              background-color: #e6edf1;
              border-radius: 50%;
              svg{
                margin-top: 27px;
                margin-left: 27px;
                width: 32px;
                height: 32px;
              }
            }
            .name-block{
              width: 86px;
              height: 28px;
              font-size: 14px;
              color: #01080c;
              text-decoration: none solid rgb(1, 8, 12);
              line-height: 28px;
              text-align: center;
            }
            .rating-block{
              margin-left: 15px;
              float: left;
              svg{
                float: left;
              }
              .count-block{
                float: left;
                font-size: 16px;
                color: #faab1a;
                text-decoration: none solid rgb(250, 171, 26);
                font-weight: 600;
                margin-left: 6px;
                line-height: 24px;
              }
            }
          }
          .content-right-block{
            float: left;
            width: 601px;
            margin-left: 34px;
            .date{
              font-size: 13px;
              color: #052e46;
              text-decoration: none solid rgb(5, 46, 70);
              line-height: 20px;
            }
            .right-title{
              font-size: 16px;
              color: #052e46;
              text-decoration: none solid rgb(5, 46, 70);
              margin-top: 4px;
              font-weight: 500;
            }
            .review-body-content{
              margin-top: 10px;
              font-size: 13px;
              color: #052e46;
              text-decoration: none solid rgb(5, 46, 70);
              .title-of-review{
                font-weight: 500;
              }
              .body-of-review{
                margin-top: 5px;
                margin-bottom: 12px;
              }
              .show-more{
                overflow: auto;
                cursor: pointer;
                padding-bottom: 19px;
                .writing{
                  float: left;
                  background-size: cover;
                  font-size: 13px;
                  color: #094c74;
                  text-decoration: none solid rgb(9, 76, 116);
                  font-weight: 600;
                }
                svg{
                  float: left;
                  width: 16px;
                  height: 16px;
                  fill: #094c74;
                }
              }
              .respond-button-block{
                overflow: auto;
                margin-bottom: 28px;
                .button-respond{
                  width: 63px;
                  height: 18px;
                  padding: 6px 15px;
                  border: 1px solid #2980b9;
                  border-radius: 2px;
                  background-color: #2980b9;
                  background-size: cover;
                  font-size: 13px;
                  color: #ffffff;
                  -webkit-text-decoration: none solid white;
                  text-decoration: none solid white;
                  text-align: center;
                  cursor: pointer;
                  font-weight: 500;
                }
              }
              .reposponse-textarea-block{
                border-top: 1px solid #e6edf1;
                overflow: auto;
                padding-top: 19px;
                .head-title{
                  font-size: 13px;
                  color: #052e46;
                  text-decoration: none solid rgb(5, 46, 70);
                  font-weight: 600;
                }
                .respond-block-textarea{
                  overflow: auto;
                  min-height: 83px;
                  padding: 0px 0px 0px 10px;
                  border: 1px solid #b5c9d5;
                  border-radius: 2px;
                  background-size: cover;
                  font-size: 13px;
                  color: #01080c;
                  text-decoration: none solid rgb(1, 8, 12);
                  resize: none;
                  margin-top: 8px;
                  padding: 7px;
                }
                .buttons-block{
                  margin-top: 19px;
                  .done-button{
                    float: left;
                    width: 63px;
                    height: 18px;
                    padding: 6px 15px;
                    border: 1px solid #2980b9;
                    border-radius: 2px;
                    background-color: #2980b9;
                    background-size: cover;
                    font-size: 13px;
                    color: #ffffff;
                    -webkit-text-decoration: none solid white;
                    text-decoration: none solid white;
                    text-align: center;
                    cursor: pointer;
                    font-weight: 500;
                  }
                  .cancel-button{
                    float: left;
                    width: 63px;
                    height: 18px;
                    padding: 6px 15px;
                    border: 1px solid #2980b9;
                    border-radius: 2px;
                    background-color: #ffffff;
                    background-size: cover;
                    font-size: 13px;
                    color: #2980b9;
                    -webkit-text-decoration: none solid white;
                    text-decoration: none solid white;
                    text-align: center;
                    cursor: pointer;
                    margin-left: 10px;
                  }
                }
              }
              .written-block-review{
                border-top: 1px solid #e6edf1;
                overflow: auto;
                padding-top: 19px;
                .title{
                  font-size: 13px;
                  color: #052e46;
                  text-decoration: none solid rgb(5, 46, 70);
                  font-weight: 600;
                  margin-bottom: 11px;
                }
                .main-content{
                  overflow: auto;
                  .main-content-user{
                    float: left;
                    width: 50px;
                    height: 50px;
                    background-color: #faab1a;
                    border-radius: 50%;
                    svg{
                      width: 20px;
                      height: 20px;
                      color: #ffffff;
                      margin-left: 15px;
                      margin-top: 14px;
                    }
                  }
                  .main-content-right{
                    margin-left: 13px;
                    max-width: 538px;
                    position: relative;
                    float: left;
                    overflow: hidden;
                    width: 100%;
                    .update-block{
                      position: absolute;
                      right: 0;
                      svg{
                        width: 18px;
                        height: 18px;
                        fill: #b5c9d5;
                        cursor: pointer;
                      }
                    }

                    .main-content-title-block{
                      overflow: auto;
                      .main-content-name{
                        float: left;
                        font-size: 13px;
                        color: #01080c;
                        text-decoration: none solid rgb(1, 8, 12);
                        line-height: 28px;
                      }
                      .main-content-date{
                        float: left;
                        font-size: 13px;
                        color: #052e46;
                        text-decoration: none solid rgb(5, 46, 70);
                        line-height: 28px;
                        margin-left: 5px;
                      }
                    }
                    .main-content-body-text{
                      overflow: auto;
                      font-size: 13px;
                      color: #052e46;
                      text-decoration: none solid rgb(5, 46, 70);
                      line-height: 20px;
                      margin-top: 5px;
                      margin-bottom: 38px;
                    }
                  }
                }
              }
            }


          }
          .message-administrator{
            position: absolute;
            bottom: 28px;
            right: 0;
            .messaging-block{
              svg{
                float: left;
                width: 22px;
                height: 22px;
              }
              .writing{
                float: left;
                background-size: cover;
                font-size: 13px;
                color: #094c74;
                text-decoration: none solid rgb(9, 76, 116);
                font-weight: 600;
                margin-top: 3px;
                margin-left: 5px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .statistics-block{
      width: 290px;
      float: left;
      margin-left: 45px;
      .title{
        font-weight: 600;
        font-size: 16px;
        color: #052e46;
        text-decoration: none solid rgb(5, 46, 70);
      }
      .statistic-rating-row{
        margin-top: 10px;
        overflow:auto;
        .rating-block{
          float: left;
          svg{
            float: left;
          }
          .count-block{
            float: left;
            font-size: 16px;
            color: #faab1a;
            text-decoration: none solid rgb(250, 171, 26);
            font-weight: 600;
            margin-left: 6px;
            line-height: 24px;
          }
        }
        .reviews-block{
          float: left;
          margin-left: 15px;
          .reviews-count{
            margin-top: 2px;
            font-size: 14px;
            color: #01080c;
            text-decoration: none solid rgb(1, 8, 12);
          }
        }
      }
      .statistics-rows{
        .statistic-row{
          overflow: auto;
          .row-title{
            float: left;
            width: 78px;
            text-decoration: none solid rgb(1, 8, 12);
            line-height: 28px;
            font-size: 14px;
          }
          .row-title-blank{
            color: #6b94ac
          }
          .progress-block{
            float: left;
            width: 130px;
            height: 10px;
            border-radius: 2px;
            background-color: #e6edf1;
            background-size: cover;
            margin-left: 30px;
            margin-top: 8px;
            .active-progress{
              width: 21px;
              height: 10px;
              border-top-left-radius: 2px;
              border-bottom-left-radius: 2px;
              background-color: #faab1a;
              background-size: cover;
            }
          }
          .percents{
            float: left;
            width: 37px;
            font-size: 14px;
            text-decoration: none solid rgb(1, 8, 12);
            line-height: 28px;
            margin-left: 15px;
          }
          .percents-blank{
            color: #6b94ac;
          }
        }
      }
    }
    .pagination-cont{
      margin-top: 20px;
      margin-bottom: 100px;
    }
  }
}